/* MAIN */
body{
  color:#333;
  font-family:monospace;
  font-size:12px
}

h1{
  font-size: 18px
}

.spacer:after{
  content: "\00a0";
}

/* portfolio */
#portfolioTable {
    display: flex;
    flex-direction: row;
}
#portfolioTable .currency {
    display: flex;
    flex-direction: column;
}

#portfolioTable .currency h3.title,
#portfolioTable .labels *{
  display: inline-block;
    background-color: #333;
    color:#fff;
    font-weight:bolder;
    min-width: 100px;
    margin: 0;
}
#portfolioTable .currency h3.title{
  text-align:center;
}
#portfolioTable .labels *{
  text-align:right;
  padding-right: 5px;
}

#portfolioTable .currency > *{
  background-color: #fff;
}
#portfolioTable .currency > *:nth-child(odd) {
  background-color: #eee;
}

#portfolioTable .subcat {
  border-top: 1px solid #333;
}


/* TICKERZ */

.positive{
  color:green;
}
.negative{
  color:red;
}

.extnum.increase {
  animation: tickup .5s linear 1;
}

@keyframes tickup {
  from { background-color:green; }
}

.extnum.decrease {
  animation: tickdown .5s linear 1;
}

@keyframes tickdown {
  from { background-color:red; }
}
