/* MAIN */
body{
  color:#333;
  font-family:monospace;
  font-size:12px
}

h1{
  font-size: 18px
}

.spacer:after{
  content: "\00a0";
}

/* portfolio */
#portfolioTable {
    display: flex;
    flex-direction: row;
}
#portfolioTable .currency {
    display: flex;
    flex-direction: column;
}

#portfolioTable .currency h3.title,
#portfolioTable .labels *{
  display: inline-block;
    background-color: #333;
    color:#fff;
    font-weight:bolder;
    min-width: 100px;
    margin: 0;
}
#portfolioTable .currency h3.title{
  text-align:center;
}
#portfolioTable .labels *{
  text-align:right;
  padding-right: 5px;
}

#portfolioTable .currency > *{
  background-color: #fff;
}
#portfolioTable .currency > *:nth-child(odd) {
  background-color: #eee;
}

#portfolioTable .subcat {
  border-top: 1px solid #333;
}


/* TICKERZ */

.positive{
  color:green;
}
.negative{
  color:red;
}

.extnum.increase {
  animation: tickup .5s linear 1;
}

@keyframes tickup {
  from { background-color:green; }
}

.extnum.decrease {
  animation: tickdown .5s linear 1;
}

@keyframes tickdown {
  from { background-color:red; }
}


/*config*/
#configTable > div {
  margin-bottom: 5px;
}
#enableConf, #mainConf {
    display: flex;
    flex-direction: row;
}
div#configTable .currency-option{
  border :2px outset #666;
  color: #888;
  background-color: #ddd;
  margin: 0 2px;
  padding: 0 2px;
  font-weight: bold;
}
div#configTable .currency-option.fiat{
  color: #a44;
}
div#configTable .currency-option.active{
  color: #333;
  background-color: #dfd;
  border-style:inset;
}
div#configTable .currency-option.active.fiat{
  color: #d44;
  background-color: #fdd;
}
