<!doctype html>
<html  ng-app="coinBalanceApp">
  <head>
    <title>My crypto assets</title>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-sanitize.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/components/extNum.js"></script>
    <script src="js/services/settings.js"></script>
    <script src="js/services/data.js"></script>
    <script src="js/services/kraken.js"></script>
    <script src="js/ctrl/portfolio.js"></script>
    <link rel='stylesheet' href="popup.css"/>
  </head>
  <body>
    <h1>Portfolio</h1>
    <div id="portfolioTable" ng-controller="PortfolioController as portfolio">
      <table>
        <tr>
          <th></th>
          <th ng-repeat="(currency,config) in portfolio.currencies"
              ng-if="config.active"
              ng-bind="currency">
          </th>
          <th>total</th>
        </tr>
        <tr>
          <th>owned</th>
          <td ng-repeat="(currency,config) in portfolio.currencies"
              ng-if="config.active">
              <ext-num editable="true" on-edit="portfolio.setOwned(currency,value)" number="config.owned" currency="config" />
          </td>
          <td></td>
        </tr>
        <tr>
          <th>ex:final</th>
          <td ng-repeat="(currency,config) in portfolio.currencies"
              ng-if="config.active">
              <ext-num editable="true" number="portfolio.tableData[currency].rate" currency="portfolio.userCurrency" />
          </td>
          <td></td>
        </tr>
        <tr>
          <th>val:move</th>
          <td ng-repeat="(currency,config) in portfolio.currencies"
              ng-if="config.active">
              <ext-num editable="true" number="portfolio.tableData[currency].moveVal" currency="portfolio.userCurrency" />
          </td>
          <td>
            <ext-num number="portfolio.tableData.total.moveVal" currency="portfolio.userCurrency" />
          </td>
        </tr>
        <tr>
          <th>val:move</th>
          <td ng-repeat="(currency,config) in portfolio.currencies"
              ng-if="config.active">
              <ext-num editable="true" number="portfolio.tableData[currency].val" currency="portfolio.userCurrency" />
          </td>
          <td>
            <ext-num number="portfolio.tableData.total.val" currency="portfolio.userCurrency"/>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
