<!doctype html>
<html  ng-app="coinBalanceApp">
  <head>
    <title>My crypto assets</title>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-sanitize.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/components/extNum.js"></script>
    <script src="js/services/settings.js"></script>
    <script src="js/services/data.js"></script>
    <script src="js/services/kraken.js"></script>
    <script src="js/ctrl/portfolio.js"></script>
    <script src="js/ctrl/config.js"></script>
    <link rel='stylesheet' href="popup.css"/>
  </head>
  <body>
    <h1>Portfolio</h1>
    <div id="portfolioTable" ng-controller="PortfolioController as portfolio">
      <div class="labels">
        <h3 class="title">&nbsp;</h3>
        <span>owned</span>
        <span>openingRate</span>
        <span>move</span>
        <span>rate</span>
        <span>val:opening</span>
        <span>val:move</span>
        <span>val:now</span>
      </div>
      <div class="currency"
          ng-repeat="(currency,config) in portfolio.currencies"
          ng-if="config.active">
          <h3 class="title" ng-bind="currency"></h3>
          <ext-num name="owned" editable="true" on-edit="portfolio.setOwned(currency,value)" number="config.owned" currency="config"></ext-num>
          <ext-num name="openingRate" number="portfolio.tableData[currency].openingRate" currency="portfolio.userCurrency"></ext-num>
          <ext-num name="movePerc" number="portfolio.tableData[currency].movePerc" symbol="%" decimals="3" signed="true"></ext-num>
          <ext-num name="rate" number="portfolio.tableData[currency].rate" currency="portfolio.userCurrency"></ext-num>
          <ext-num name="valOpening" number="portfolio.tableData[currency].openingVal" currency="portfolio.userCurrency"></ext-num>
          <ext-num name="moveVal" number="portfolio.tableData[currency].moveVal" currency="portfolio.userCurrency" signed="true"></ext-num>
          <ext-num name="valNow" editable="true" number="portfolio.tableData[currency].val" currency="portfolio.userCurrency"></ext-num>
      </div>
      <div class="currency total">
          <h3 class="title">total</h3>
          <span class="spacer"></span>
          <span class="spacer"></span>
          <span class="spacer"></span>
          <ext-num name="movePerc" number="portfolio.tableData.total.movePerc" symbol="%" decimals="3" signed="true"></ext-num>
          <ext-num name="valOpening" number="portfolio.tableData.total.openingVal" currency="portfolio.userCurrency"></ext-num>
          <ext-num name="moveVal" number="portfolio.tableData.total.moveVal" currency="portfolio.userCurrency" signed="true"></ext-num>
          <ext-num name="valNow" editable="true" number="portfolio.tableData.total.val" currency="portfolio.userCurrency"></ext-num>
      </div>
    </div>
    <h1>Configuration</h1>
    <div id="configTable" ng-controller="ConfigController as config">
      <div id="enableConf">
        <span>enabled : </span>
        <div ng-repeat="(currency,currCfg) in config.currencies"
              ng-class="['currency-option',{'active':currCfg.active, 'fiat':currCfg.userCurrency}]"
              ng-bind="currency"
              ng-click="config.toggle(currency)">
        </div>
      </div>
      <div id="mainConf">
        <span>user currency : </span>
        <div ng-repeat="(currency,currCfg) in config.currencies"
              ng-class="['currency-option',{'active':config.main.selectedCurrency==currency}]"
              ng-if="currCfg.userCurrency"
              ng-bind="currency"
              ng-click="config.toggleMain(currency)">
        </div>
      </div>
    </div>
  </body>
</html>
